<div class="grid-container">
  <mat-card>
    <mat-toolbar fxLayout fxLayoutAlign="space-between center">
      <a
        *appPermission="['ROLE_ADMINISTRATOR']"
        mat-icon-button
        color="warn"
        [routerLink]="['/app','book','create']">
        <mat-icon>add_circle</mat-icon>
      </a>
      <div fxFlex="50%" fxLayout fxLayoutAlign="space-between center">
        <span class="ui-float-label">
        <input pInputText id="float-input" size="30" [formControl]="textInput"/>
          <label for="float-input">Type title or author</label>
          </span>
        <p-multiSelect
          [options]="years"
          [(ngModel)]="selectedYears"
          (onPanelHide)="onYearHide()"
          [showHeader]="false"
          optionLabel="value"
        >
        </p-multiSelect>
        <p-multiSelect
          [options]="categories"
          [(ngModel)]="selectedCategories"
          (onPanelHide)="onHide()"
          [showHeader]="false"
          optionLabel="name">

        </p-multiSelect>
      </div>
    </mat-toolbar>
    <mat-card-content fxLayout fxLayoutAlign="flex-start center">
      <mat-card *ngFor="let book of books" style="margin: .5rem; width: 20rem;">
        <mat-card-header>
          <mat-card-title>{{book.title}} ({{book.releaseDate}})</mat-card-title>
          <mat-card-subtitle>Author: {{book.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/100" alt="Random photo"/>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngFor="let category of book.categories">{{category.name}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button type="button" *ngIf="!book.loaned" (click)="loanBook(book)">
            <mat-icon>local_library</mat-icon>
          </button>
          <a mat-icon-button type="button" [routerLink]="['/app','book','detail',book.id]">
            <mat-icon>more_horiz</mat-icon>
          </a>
          <a *appPermission="['ROLE_ADMINISTRATOR']" mat-icon-button color="primary" type="button"
             [routerLink]="['/app','book','edit',book.id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button *appPermission="['ROLE_ADMINISTRATOR']" mat-icon-button color="warn" (click)="delete(book.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
